/* WELCOME SPAN */

.welcomeSpan span:nth-child(1) {
    animation-delay: 0s;
}

.welcomeSpan span:nth-child(2) {
    animation-delay: 0.1s;
}

.welcomeSpan span:nth-child(3) {
    animation-delay: 0.2s;
}

.welcomeSpan span:nth-child(4) {
    animation-delay: 0.3s;
}

.welcomeSpan span:nth-child(5) {
    animation-delay: 0.4s;
}

.welcomeSpan span:nth-child(6) {
    animation-delay: 0.5s;
}

.welcomeSpan span:nth-child(7) {
    animation-delay: 0.6s;
}

.welcomeSpan span:nth-child(8) {
    animation-delay: 0.7s;
}

.welcomeSpan span:nth-child(9) {
    animation-delay: 0.8s;
}

.welcomeSpan span:nth-child(10) {
    animation-delay: 0.9s;
}

.welcomeSpan span:nth-child(11) {
    animation-delay: 1s;
}

.welcomeSpan span:nth-child(12) {
    animation-delay: 1.1s;
}

/* WOLF */

.picture img:nth-child(1) {
    animation-delay: 0s;
}

.picture img:nth-child(2) {
    animation-delay: 0.1s;
}

.picture img:nth-child(3) {
    animation-delay: 0.2s;
}

.picture img:nth-child(4) {
    animation-delay: 0.3s;
}

.picture img:nth-child(5) {
    animation-delay: 0.4s;
}

.picture img:nth-child(6) {
    animation-delay: 0.5s;
}

.picture img:nth-child(7) {
    animation-delay: 0.6s;
}

.picture img:nth-child(8) {
    animation-delay: 0.7s;
}

.picture img:nth-child(9) {
    animation-delay: 0.8s;
}

.picture img:nth-child(10) {
    animation-delay: 0.9s;
}

.picture img:nth-child(11) {
    animation-delay: 1s;
}

.picture img:nth-child(12) {
    animation-delay: 1.1s;
}

.picture img:nth-child(13) {
    animation-delay: 1.2s;
}

.picture img:nth-child(14) {
    animation-delay: 1.3s;
}

.picture img:nth-child(15) {
    animation-delay: 1.4s;
}

.picture img:nth-child(16) {
    animation-delay: 1.5s;
}

.picture img:nth-child(17) {
    animation-delay: 1.6s;
}

.picture img:nth-child(18) {
    animation-delay: 1.7s;
}

.picture img:nth-child(19) {
    animation-delay: 1.8s;
}

.picture img:nth-child(20) {
    animation-delay: 1.9s;
}

.picture img:nth-child(21) {
    animation-delay: 2s;
}

.picture img:nth-child(22) {
    animation-delay: 2.1s;
}

.picture img:nth-child(23) {
    animation-delay: 2.2s;
}

.picture img:nth-child(24) {
    animation-delay: 2.3s;
}

.picture img:nth-child(25) {
    animation-delay: 2.4s;
}

.picture img:nth-child(26) {
    animation-delay: 2.5s;
}

.picture img:nth-child(27) {
    animation-delay: 2.5s;
}

.picture img:nth-child(28) {
    animation-delay: 2.6s;
}

.picture img:nth-child(29) {
    animation-delay: 2.7s;
}
