::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--black_grey);
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 20px;
}
